<!DOCTYPE html>

<html>

<head>

</head>

<link rel="stylesheet" href="/style.css">

<body>

 

  <div class="nome">

    <h2><a style="float:left"><img src="img/simbolo1.jpg" width="100" height="50">Recicle a Vida</a></h2>

 

  </div>

 

<div class="cabeçalho">

 

 

  <ul class="direita">

    <li><a  href="https://www.webmotors.com.br/" style="float:right">meu perfil</a></li>

    <li><a href="https://www.webmotors.com.br/" style="float:right">Sobre</a></li>

   

   </ul>

  <ul>

 

    <li >

     

      <a href="login.html" style="float:right">Entrar</a>

 

    </li>

 

  </ul>

 

</div>

  <div class="header">

 

    <div class="logo">

 

      <div class="carousel">

 

        <img src="img/simbolo1.jpg" alt="Imagem 1">

 

        <img src="img/simbolo2.jpg" alt="Imagem 2">

 

        <img src="img/simbolo3.jpg" alt="Imagem 3">

 

      </div>

    </div>

 

  </div>

 

 

<div class="centro">

 

  <h3>o beneficio de reciclar, é uma das maneiras mais eficazes</br>

 

     de proteger nossa biodiversidadee prezar pelos recursos</br>

 

     naturais. Além disso, elas contribuem para a redução de desastres</br>

 

    ambientais, como enchentes, contaminação de rios, mares e</br>

 

     solos e reduzem a poluição tal maléfica para os seres vivos.</br>

 

</div>

 

<div class="baixo">

 

  <h3>o beneficio de reciclar, é uma das maneiras mais eficazes</br>

 

     de proteger nossa biodiversidadee prezar pelos recursos</br>

 

     naturais. Além disso, elas contribuem para a redução de desastres</br>

 

    ambientais, como enchentes, contaminação de rios, mares e</br>

 

     solos e reduzem a poluição tal maléfica para os seres vivos.</br>

 

</div>

 

<script src="javas/testes.java"></script>

 

</body>

 

</html>